* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body {
    height: 100vh;
    display:inline-flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgb(95, 198, 232), rgb(193, 215, 104));
    font-size: 2rem;
    font-family: sans-serif;
    color: rgb(7, 9, 10);
  }
  
button {
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 0.1em;
    padding: 15px 20px;
    margin-left: 15px;
    border-radius: 5px;
  }

button, input {
    border: none;
    background: rgb(95, 198, 232);
    outline: none;
    color: inherit;
}

button:hover {
    background-color: rgb(193, 215, 104);
}

form {
    position: relative;
    display: flex;
    align-items: center;
}
 
form input {
    font-size: 2rem;
    height: 40px;
    padding: 5px 5px 10px;
    border-bottom: 1px solid;
}
 
form input::placeholder {
    color: currentColor;
}
 
span .msg {
    position: absolute;
    bottom: -40px;
    left: 0;
    max-width: 450px;
    min-height: 40px;
}

.display-2 {
  font-size: 2rem;
}

h3 {
  color: yellow;

}





@media screen and (max-width: 580px) {
 form {
    flex-direction: column;
  }
  body {
    display: flex;
  } 

 form input,
 button {
    width: 100%;
  }
 
 button {
    margin: 20px 0 0 0;
  }
   
 span .msg {
    position: static;
    max-width: none;
    min-height: 0;
    margin-top: 10px;
  }
}
